/* Small (smaller than 640px)
Medium (641px to 1007px)
Large (1008px and larger) */

* {
  box-sizing: border-box;
}

body {
  background: #49fcd4;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

header {
  height: 280px;
  padding: 0 35px;
  margin-bottom: 80px;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: -5px;
  margin-bottom: 30px;
  line-height: 70px;
  width: 200px;
}

header > p {
  margin: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.175em;
  line-height: 2.5;
  text-transform: uppercase;
  width: 390px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
}

.section-wrapper:first-of-type {
  height: 900px;
}

#header-img {
  width: 150%;
}

.section-content-wrapper {
  background: #fff;
  width: 100%;
  padding: 0 20px;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}

.content-wrapper > p {
  padding-top: 40px;
  line-height: 30px;
  font-weight: 300;
  font-size: 1rem;
}

.img-wrapper {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.img-wrapper img {
  width: 100%;
}

.heading-wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 25px 0;
}

h2 {
  width: 100%;
  text-transform: uppercase;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list-container ul li {
  list-style-type: none;
  font-weight: 300;
}

.list-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  background-color: #f1f1f1;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
}

i {
  margin: 0 auto;
}

.image-container {
  display: grid;
  grid-template:
    "a a"
    "b c"
    "d d";
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#opp {
  display: grid;
  grid-template:
    "e f"
    "g g";
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.image-container img {
  width: 100%;
  height: 176px;
}

h4 {
  color: #000000;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.175em;
  line-height: 1.75;
  margin: 40px 0 1.5rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.paragraph-edit > p {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 40px;
}
